/* ID Selector (#id) */
#agenda {
    color: blue;
}

/* Universal Selector (*) */
* {
    font-family: Arial, sans-serif;
}

/* Element Selector (element) */
h1 {
    text-align: center;
}

/* Attribute Selector (e.g. [attribute=foo]) */
[alt="Example Image"] {
    border: 1px solid #ccc;
}

/* Pseudo-class Selector (e.g. p:hover) */
p:hover {
    background-color: lightgrey;
}

/* Selector List (element, element) */
h2, h3 {
    margin-bottom: 10px;
}

/* Combinators */
/* Descendant Combinator (element element) */
section ul {
    list-style-type: square;
}

/* Child Combinator (element > element) */
nav > ul {
    padding: 0;
}

/* General sibling combinator (element ~ element) */
h3 ~ p {
    color: green;
}

/* Adjacent sibling combinator (element + element) */
ol + p {
    font-style: italic;
}

/* Combining Two Selectors (element.class) */
h2.meeting-header {
    color: red;
}

/* :has() - This is not supported in CSS yet */

/* Nested Selectors */
details summary {
    font-weight: bold;
}
details p {
    font-style: italic;
}
